appnope==0.1.2
astroid==2.5.2
backcall==0.2.0
click==8.0.0
decorator==4.4.2
Flask==2.0.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.20.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
ptyprocess==0.7.0
Pygments==2.8.1
pylint==2.7.4
SQLAlchemy==1.4.15
toml==0.10.2
torch==1.8.1
traitlets==5.0.5
typing-extensions==3.7.4.3
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
